div {
    border: solid 1px red;
}

.Button {
}

.Select {
}

.ControlsView {
}

.SongView {
}

.AppView {
}

.TinyButton {
}

.InstrumentSelectNextButtonView:before {
    content: "+";
}

.InstrumentSelectPrevButtonView:before {
    content: "-";
}

.VolumeUpButtonView:before {
    content: "+";
}

.VolumeDownButtonView:before {
    content: "-";
}

.VolumeToggleButtonView:before {
    content: "%";
}