
html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #f5f5f5;
}

body * {
  box-sizing: border-box;
}

/* CONTROL BAR */

.ControlsView {
  background: #0786E0;
  padding: 0.5em;
  color: #f5f5f5;
  font-size: 0.75em;
}

  .TinyButton, .LargeButton {
    font-family: 'FontAwesome';
    font-size: 1em;
    margin: 0 0.5em 0 0;
  }

  .LargeButton {
    font-size: 2em;
  }

  /* Shared styles for control bar containers */
  .InstrumentSelectView,
  .PlaybackView,
  .VolumeView,
  .FileInfoSelectContainerView {
    display: inline-block;
    vertical-align: top;
  }

  /* Individual styles for control bar containers */
  .FileInfoView {
    width: 100%;
    color: #0786E0;
    margin-bottom: 2em;
  }
  .InstrumentSelectView {
    width: 20%;
  }
  .PlaybackView {
    width: 50%;
    text-align:right;
  }
  .VolumeView {
    width: 20%;
    text-align: right;
  }
  .FileInfoSelectContainerView {
    width: 10%;
  }

/* CONTENT AREA */

.SongView {
  padding: 0.5em;
}

  .SongSectionView {
    padding: 0.5em;
    background: #fff;
    margin: 0 0 0.5em 0;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }

    .SectionNameView {
      font-size: 1.25em;
      font-weight: bold;
      color: #0786E0;
      margin: 0 0 0.5em 0;
      border-bottom: 3px solid #dadada;
    }

    .SectionChordView {
      display: inline-block;
      border-right: 1px solid #dadada;
      padding: 0.5em;
      margin: 0.5em 0;
      transition: background 0.25s ease-in;
    }

    .SectionChordView2Beat {
      width: 12.5%;
    }
    .SectionChordView4Beat {
      width: 25%;
    }

    .SectionChordView.SectionChordViewSelected {
      background: rgba(7,134,224, 0.25);
    }

.VolumeToggleButtonView,
.VolumeMuteButtonView,
.VolumeControlsView,
.PlayButtonView,
.PlayButtonPausedView,
.StopButtonView,
.PlaybackControlsView,
.TempoView,
.TempoControlsView,
.TempoLabelValueContainerView,
.TransposeView,
.TransposeControlsView,
.TransposeLabelValueContainerView,
.InstrumentSelectControlsView,
.InstrumentSelectNameView,
.FileInfoSelectView {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.VolumeToggleButtonView,
.PlayButtonView,
.StopButtonView,
.TempoLabelValueContainerView,
.TransposeLabelValueContainerView,
.InstrumentSelectNameView {
  margin: 0 0.5em 0 0;
}
/* ICONS */
.InstrumentSelectNextButtonView:before,
.TempoUpButtonView:before,
.TransposeUpButtonView:before,
.VolumeUpButtonView:before {
  content: "\f0d8";
}

.InstrumentSelectPrevButtonView:before,
.TempoDownButtonView:before,
.TransposeDownButtonView:before,
.VolumeDownButtonView:before {
  content: "\f0d7";
}

.VolumeToggleButtonView:before {
  content: "\f028";
}

.VolumeMuteButtonView:before {
  content: "\f026";
}

.PlayButtonView:before {
  content: "\f04b";
}

.PlayButtonPausedView:before {
  content: "\f04c";
}

.StopButtonView:before {
  content: "\f04d";
}

.FileInfoSelectView:before {
    content: "\f115";
}

.TempoLabelView:before {
  content: "Tempo";
}

.TransposeLabelView:before {
  content: "Transpose";
}

.TempoLabelView,
.TransposeLabelView {
  font-size: 0.5em;
  display: none;
}

.TempoValueView,
.TransposeValueView {
  font-size: 2em;
  text-align: center;
}

.TempoValueView {
  transition: color 0.5s ease;
}

.TempoValueViewBeat {
  color: red;
}

.FileInfoTitleView {
  font-size: 2em;
  font-weight: bold;
}



/* MEDIUM */
@media only screen and (min-width:640px){
  .SectionNameView,
  .SectionChordsView {
    width: 20%;
    display: inline-block;
    vertical-align: top;
  }

  .SectionNameView {
    border-bottom: 0;
  }

  .SectionChordsView {
    width: 80%;
    border-left: 3px solid #dadada;
  }

  .TempoLabelView,
  .TransposeLabelView {
    display: block;
  }

  .TempoValueView,
  .TransposeValueView {
    font-size: 1.5em;
    display: block;
  }
}


/* LARGE */
@media only screen and (min-width:1024px){


}